/* Styling for tweet field */

input {
  background-color: #4154A1;
  font-family: 'Bungee', cursive;
  float: left;
  color: #ffff;
  margin-top: .10em;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  background-color: #f4f1ec;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-style: normal;
  border-bottom: 4px solid black;
  margin-top: 1.75em;
}

footer {
  margin-top: 8px;
}

article {
  border: 4px solid black;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: .75em;
  margin-bottom: 1.25em;
}

article header {
  height: 100%;
  background-color: #f4f1ec;
  display: flex;
}

article footer {
  display: flex;
  justify-content: space-between;
}

article:hover {
  border: 4px solid black;
  -moz-box-shadow: 5px 5px 0px rgba(105, 128, 202, 50%);
  -webkit-box-shadow: 5px 5px 0px rgba(105, 128, 202, 50%);
  box-shadow: 5px 10px 0px rgba(105, 128, 202, 50%);
}

article .tweet {
  display: flex;
  justify-content: space-between;
}

img.tweet {
  width: 50px;
  height: 50px;
}

span.handle {
  color:#4154A1;
  opacity: 40%;
}

.icons {
  color: #4056A1;
  font-size: 20px;
}

.counter {
  font-family: 'Bungee', cursive;
  float: right;
  font-weight: 600;
}

#error-message {
  margin-top: 1em;
  margin-bottom: .50em;
  width: 100%;
  height: auto;
  border: 4px solid red;
  color: red;
}

